# 1 Análise Exploratória dos dados

A partir da base de dados precos_carros_brasil.csv, execute as seguintes tarefas:
<ol type="a">
<li>Carregue a base de dados media_precos_carros_brasil.csv</li>
<li>Verifique se há valores faltantes nos dados. Caso haja, escolha uma tratativa para resolver o problema de valores faltantes</li>
<li>Verifique se há dados duplicados nos dados</li>
<li>Crie duas categorias, para separar colunas numéricas e categóricas.</li>
<li>Imprima o resumo de informações das variáveis numéricas e categóricas (estatística descritiva dos dados) Imprima a contagem de valores por modelo (model) e marca do carro (brand)</li>
<li>Dê um breve explicação (máximo de quatro linhas) sobre os principais resultados encontrados na Análise Exploratória dos dados</li>
</ol>

Importando as libs necessárias

In [1]:
import pandas as pd

## Carregando a base de dados precos_carros_brasil.csv

In [3]:
# lendo o csv com os dados
dados = pd.read_csv('precos_carros_brasil.csv')

/var/folders/md/y19c4hp508j46r5qfytvrf0m0000gn/T/ipykernel_87669/518279052.py:2: DtypeWarning: Columns (1,2,3,4,5,6,7,8) have mixed types. Specify dtype option on import or set low_memory=False.
  dados = pd.read_csv('precos_carros_brasil.csv')

In [ ]:
# verificando os dados
dados.head()

,year_of_reference,month_of_reference,fipe_code,authentication,brand,model,fuel,gear,engine_size,year_model,avg_price_brl
0,2021.0,January,004001-0,cfzlctzfwrcp,GM - Chevrolet,Corsa Wind 1.0 MPFI / EFI 2p,Gasoline,manual,1,2002.0,9162.0
1,2021.0,January,004001-0,cdqwxwpw3y2p,GM - Chevrolet,Corsa Wind 1.0 MPFI / EFI 2p,Gasoline,manual,1,2001.0,8832.0
2,2021.0,January,004001-0,cb1t3xwwj1xp,GM - Chevrolet,Corsa Wind 1.0 MPFI / EFI 2p,Gasoline,manual,1,2000.0,8388.0
3,2021.0,January,004001-0,cb9gct6j65r0,GM - Chevrolet,Corsa Wind 1.0 MPFI / EFI 2p,Alcohol,manual,1,2000.0,8453.0
4,2021.0,January,004003-7,g15wg0gbz1fx,GM - Chevrolet,Corsa Pick-Up GL/ Champ 1.6 MPFI / EFI,Gasoline,manual,"1,6",2001.0,12525.0

In [ ]:
# verificando as colunas
dados.columns

Index(['year_of_reference', 'month_of_reference', 'fipe_code',
       'authentication', 'brand', 'model', 'fuel', 'gear', 'engine_size',
       'year_model', 'avg_price_brl'],
      dtype='object')

In [7]:
# verificando o tamanho 
dados.shape

(267542, 11)

In [8]:
dados.dtypes

year_of_reference     float64
month_of_reference     object
fipe_code              object
authentication         object
brand                  object
model                  object
fuel                   object
gear                   object
engine_size            object
year_model            float64
avg_price_brl         float64
dtype: object

---
## Verificando se há valores faltantes

Verifique se há valores faltantes nos dados. Caso haja, escolha uma tratativa para resolver o problema de valores faltantes

In [19]:
# vamos ver se temos dados faltando
dados.isna().any()

year_of_reference     False
month_of_reference    False
fipe_code             False
authentication        False
brand                 False
model                 False
fuel                  False
gear                  False
engine_size           False
year_model            False
avg_price_brl         False
dtype: bool

In [16]:
# faltam dados em todas as colunas, mas quanto temos faltando?
dados.isna().sum()

year_of_reference         0
month_of_reference        0
fipe_code                 0
authentication        65245
brand                 65245
model                 65245
fuel                  65245
gear                  65245
engine_size           65245
year_model            65245
avg_price_brl         65245
dtype: int64

In [18]:
# vamos adicionar um valor padrão para os faltantes
dados['year_of_reference'].fillna(0.0, inplace=True)
dados['month_of_reference'].fillna("ND", inplace=True)
dados['fipe_code'].fillna("ND", inplace=True)
dados['authentication'].fillna("ND", inplace=True)
dados['brand'].fillna("ND", inplace=True)
dados['model'].fillna("ND", inplace=True)
dados['fuel'].fillna("ND", inplace=True)
dados['gear'].fillna("ND", inplace=True)
dados['engine_size'].fillna("ND", inplace=True)
dados['year_model'].fillna(0.0, inplace=True)
dados['avg_price_brl'].fillna(0.0, inplace=True)

/var/folders/md/y19c4hp508j46r5qfytvrf0m0000gn/T/ipykernel_87669/871389646.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dados['year_of_reference'].fillna(0.0, inplace=True)
/var/folders/md/y19c4hp508j46r5qfytvrf0m0000gn/T/ipykernel_87669/871389646.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dados['brand'].fillna("ND", inplace=True)
/var/folders/md/y19c4hp508j46r5qfytvrf0m0000gn/T/ipykernel_87669/871389646.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dados['model'].fillna("ND", inplace=True)
/var/folders/md/y19c4hp508j46r5qfytvrf0m0000gn/T/ipykernel_87669/871389646.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dados['fuel'].fillna("ND", inplace=True)
/var/folders/md/y19c4hp508j46r5qfytvrf0m0000gn/T/ipykernel_87669/871389646.py:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dados['gear'].fillna("ND", inplace=True)
/var/folders/md/y19c4hp508j46r5qfytvrf0m0000gn/T/ipykernel_87669/871389646.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dados['engine_size'].fillna("ND", inplace=True)
/var/folders/md/y19c4hp508j46r5qfytvrf0m0000gn/T/ipykernel_87669/871389646.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dados['year_model'].fillna(0.0, inplace=True)
/var/folders/md/y19c4hp508j46r5qfytvrf0m0000gn/T/ipykernel_87669/871389646.py:12: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dados['avg_price_brl'].fillna(0.0, inplace=True)

## Verificando dados duplicados
Verifique se há dados duplicados nos dados

In [25]:
# verificando se tem dados duplicados
dados.duplicated().sum()

65246

In [26]:
# listando os duplicados
dados[dados.duplicated()]

,year_of_reference,month_of_reference,fipe_code,authentication,brand,model,fuel,gear,engine_size,year_model,avg_price_brl
45793,2021.0,June,025232-8,5rtdwkpkpq5h,Renault,DUSTER OROCH Dyna. 2.0 Flex 16V Mec.,Gasoline,manual,2,2018.0,69893.0
189896,2022.0,December,003296-4,3r6c277cnqcb,Ford,Ranger Limited 3.0 PSE 4x4 CD TB Diesel,Diesel,manual,3,2007.0,64638.0
202298,0.0,ND,ND,ND,ND,ND,ND,ND,ND,0.0,0.0
202299,0.0,ND,ND,ND,ND,ND,ND,ND,ND,0.0,0.0
202300,0.0,ND,ND,ND,ND,ND,ND,ND,ND,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
267537,0.0,ND,ND,ND,ND,ND,ND,ND,ND,0.0,0.0
267538,0.0,ND,ND,ND,ND,ND,ND,ND,ND,0.0,0.0
267539,0.0,ND,ND,ND,ND,ND,ND,ND,ND,0.0,0.0
267540,0.0,ND,ND,ND,ND,ND,ND,ND,ND,0.0,0.0
267541,0.0,ND,ND,ND,ND,ND,ND,ND,ND,0.0,0.0